emuera.config
*.sav
*.log
*.lnk
sav/
debug/
macro.txt
*.dat
*.skrold
*.zip
*_FACE.*
Emuera-Anchor.exe
CreatedCSV/*.csv
CreatedDialogue/*.ERB
CreatedDialogue/backuptxt/*.txt
CSV/Chara/*
!CSV/Chara0_あなた.csv
ERB/口上/*
!ERB/口上/口上制御.ERB
